server
{
	listen: 65535

	index: default/button.html
	server_name: webserv.42.com

	location: /user
	{
		root: www/html
	}
}

server
{
	listen: 4242

	index: default/index2.html
	server_name: testserv
	
	location: /ours
	{
		root: www
	}
}

server
{
	listen: 8080

	index: default/button.html
	server_name: localhost
	cgi: .sh /usr/bin/bash .py /usr/bin/python3

	location: /user
	{
		root: www/html
	}
	location: /login
	{
		root: www
	}
	location: /html
	{
		root: www
	}
	location: /cgi-bin
	{
		root: www
	}
	location: /tmp
	{
		root:
	}
}
