server
{
	listen: 8080

	server_name: localhost
	cgi: .sh /usr/bin/bash .py /usr/bin/python3 .pl /usr/bin/perl

	force_login: true
	enable_redirect: false
	
	allow_large_download: true

	index: default/button.html
	error_pages: 404 /www/errors/404.html

	user_page: /user
	login_page: /login

	location: /
	{
		root: default
		set_index: button.html
		method_accept: GET POST DELETE
		max_body_size: 100
	}
	location: /user
	{
		root: www/html/user
		method_accept: GET POST DELETE
		auto_index: true
	}
	location: /login
	{
		root: www/login
		method_accept: GET
	}
	location: /errors
	{
		method_accept: GET
		root: www/errors
	}
	location: /redirect
	{
		redirect: https://www.twitch.tv/
	}
	location: /html
	{
		root: www/html
		method_accept: GET POST DELETE
		auto_index: true
	}
	location: /tmp
	{
		root: /tmp
		method_accept: GET POST DELETE
	}
}
