server
{
	listen: 8080

	server_name: localhost
	cgi: .sh /usr/bin/bash .py /usr/bin/python3 .pl /usr/bin/perl

	force_login: true
	enable_redirect: false
	
	allow_large_download: true

	index: default/button.html
	error_pages: 404 /www/errors/404.html

	location: /
	{
		root: default
		set_index: button.html
		method_accept: GET POST
	}
	location: /user
	{
		root: www/html
		method_accept: GET POST
		auto_index: true
		set_upload: /home/junya/Desktop
	}
	location: /login
	{
		root: www
		method_accept: GET
	}
	location: /errors
	{
		method_accept: GET
		root: www
	}
	location: /redirect
	{
		redirect: https://www.twitch.tv/
	}
	location: /html
	{
		root: www
		method_accept: GET POST DELETE
		auto_index: true
	}
	location: /tmp
	{
		root:
		method_accept: GET POST DELETE
	}
}
