server
{
	listen: 65535

	index: default/webserv.html
	server_name: webserv.42.com
	cgi: .sh /usr/bin/bash .py /usr/bin/python3 .pl /usr/bin/perl

	force_login: true
	enable_redirect: false

	error_pages: 404 /www/errors/404.html
	error_pages: 405 /www/errors/405.html

	login_page: /login/webserv.html
	user_page: /user/webserv.html

	location: /user
	{
		root: www/html
		method_accept: GET POST
	}
	location: /login
	{
		root: www
		method_accept: GET
	}
	location: /errors
	{
		method_accept: GET
		root: www
	}
	location: /redirect
	{
		redirect: https://profile.intra.42.fr/
	}
	location: /html
	{
		root: www
		method_accept: GET POST DELETE
	}
	location: /tmp
	{
		root:
		method_accept: GET POST DELETE
	}
}

server
{
	listen: 8080

	index: default/button.html
	server_name: localhost
	cgi: .sh /usr/bin/bash .py /usr/bin/python3 .pl /usr/bin/perl

	force_login: true
	enable_redirect: true

	login_page: /login
	user_page: /user

	error_pages: 404 /www/errors/404.html

	location: /user
	{
		root: www/html
		method_accept: GET POST
		set_index: index.html
	}
	location: /login
	{
		root: www
		method_accept: GET
	}
	location: /errors
	{
		method_accept: GET
		root: www
	}
	location: /redirect
	{
		redirect: https://www.twitch.tv/
	}
	location: /html
	{
		root: www
		method_accept: GET POST DELETE
		auto_index: true
	}
	location: /tmp
	{
		root:
		method_accept: GET POST DELETE
	}
}
